.header-class {
  background-image: url(/pik.jpg);
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;
}

.navs-items {
  list-style: none;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 15px 355px;
  font-size: 20px;
  text-align: center;
}

.navigations {
  padding: 10px;
  
}

.navigations-app {
  font-size: 60px;
  text-align: center;
}

.header-text {
  padding: 120px 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.dedicated-text {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
}

.colum-1 {
  font-size: 29px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 25px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0px;
  padding: 0px;
}

.contact-button {
  background-color: #978871;
  height: 36px;
  border: none;
  width: 135px;
  color: white;
}